<!DOCTYPE html>
<html lang="en">
<link href = "style.css" rel = "stylesheet">
<head>
<title>VS CODE ON TOP BAYBEE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="1; URL=new_website_url"/>
</head>
<body>

<div class="header">
  <h1>Car Search</h1>
  <p>Want a Car? We Got it.</p>
</div>

<div class="navbar">
  <a href="https://www.carmax.com/">CarMax</a>
  <a href="https://www.cars.com/" class="right">Cars</a>
</div>


  <div class="main">
    <h2>Search For Cars</h2>
    <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit" class = butt>Go</button>
      </form>
    <p></p>
    <br>
  </div>
</div>

<div class="footer">
  <h2>VS ON TOP</h2>
</div>

</body>
</html>
