<!DOCTYPE html>
<html lang="en">
<link href = "static\style.css" rel = "stylesheet">
<head>
<title>2016 White Ford Fusion</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script >
  
</script>
</head>
<body>

<div class="header">
  <h1>2016 White Ford Fusion</h1>
  <h2>2016 White Ford Fusion</h2>
  <h3>2016 White Ford Fusion</h3>
  <p>2016 White Ford Fusion</p>
  <h3>2016 White Ford Fusion</h3>
  <h2>2016 White Ford Fusion</h2>
  <h1>2016 White Ford Fusion</h1>
</div>

<div class="navbar">
  <a href="/2016whitefordfusion">CarMax</a>
  <a href="/2016whitefordfusion" class="right">Cars</a>
</div>


  <div class="main">
    <h1>2016 White Ford Fusion</h1>
    <h2>2016 White Ford Fusion</h2>
    <h3>2016 White Ford Fusion</h3>
    <p>2016 White Ford Fusion</p>
    <h3>2016 White Ford Fusion</h3>
    <h2>2016 White Ford Fusion</h2>
    <h1>2016 White Ford Fusion</h1>
    <img src="static/2016whitefordfusion.png" alt="2016 White Ford Fusion" class = "whitefordfusionnn">
    <img src="static/2016whitefordfusion.jpg" alt="2016 White Ford Fusion" class = "whitefordfusionn">

    <br>
    <h1>2016 White Ford Fusion</h1>
    <h2>2016 White Ford Fusion</h2>
    <h3>2016 White Ford Fusion</h3>
    <p>2016 White Ford Fusion</p>
    <h3>2016 White Ford Fusion</h3>
    <h2>2016 White Ford Fusion</h2>
    <h1>2016 White Ford Fusion</h1>
  </div>
</div>

<div class="footer">
  <h1>2016 White Ford Fusion</h1>
  <h2>2016 White Ford Fusion</h2>
  <h3>2016 White Ford Fusion</h3>
  <p>2016 White Ford Fusion</p>
  <h3>2016 White Ford Fusion</h3>
  <h2>2016 White Ford Fusion</h2>
  <h1>2016 White Ford Fusion</h1>
  
  
</div>

</body>
</html>
